<html>
<head>
  <title>Pesquisa por termos</title>
</head>
<body>
<h1>Pesquisa por termos</h1>
<form th:action="@{/termos_pesquisados}" th:object="${Termos}" method="post">
  <script>
    var numInputs = prompt("Quantos termos deseja pesquisar?");
    var formHTML = "";
    for (var i = 0; i < numInputs; i++) {
      formHTML += "<label for='input" + i + "'>Termo " + (i+1) + ":</label><br>";
      formHTML += "<input type='text' th:field='*{Termos[" + i + "]}' required id='input" + i + "' name='termos[" + i + "]'><br>";
    }
    formHTML += "<div> Indexar Urls <input type='checkbox' id='indexUrlsCheckbox' name='checked' value='true'> </div>";
    formHTML += "<input type='submit' value='Submit'>";
    document.write(formHTML);
  </script>
</form>
</body>
</html>