<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/websocket');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/serverStatus', function (message) {
                    var serverStatus = JSON.parse(message.body);
                    // Update HTML elements with server status information
                    $('#downloaders').text(serverStatus.downloaders);
                    $('#barrels').text(serverStatus.barrels);
                    $('#topSearches').empty();
                    serverStatus.topSearches.forEach(function (search) {
                        $('#topSearches').append('<li>' + search + '</li>');
                    });
                });
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
                console.log("Disconnected");
            }
        }

        $(function () {
            connect();
        });
    </script>
</head>
<body>
<h1>Program Information</h1>
<div>
    <h2>Downloaders</h2>
    <p id="downloaders"></p>
</div>
<div>
    <h2>Barrels</h2>
    <p id="barrels"></p>
</div>
<div>
    <h2>Top Searches</h2>
    <ul id="topSearches"></ul>
</div>
<button onclick="disconnect()">Disconnect</button>
</body>
</html>
